p {
    font-size: 1.1em;
}


body.custom {
    /*
    font-family: Ubuntu, sans-serif;
    font-family: DejaVu Sans Mono, monospace;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    */
    font-family: Georgia,Times-New Roman,Serif;
    line-height: 1.6;
}


.hljs {
    padding: 20px;
}
