/*
div.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
*/


li {
    display: list-item;
    list-style: none;
}


li.post-link {
    line-height: 1.6;
}


span.date {
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: right;
}

span.category {
    font-weight: bold;
    display: inline-block;
    width: 110px;
    margin-right: 10px;
    text-align: center;
}


img#profile {
    max-width: 100%;
    height: auto;
}


a:hover {
    text-decoration: none;
}
