li {
    display: list-item;
    list-style: none;
}

a:hover {
    color: inherit; /* not working? */
    text-decoration: none;
}

span.date {
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: right;
}

span.category {
    font-weight: bold;
    display: inline-block;
    width: 110px;
    margin-right: 10px;
    text-align: center;
}
