li {
    display: list-item;
    list-style: none;
}
.date {
    display: inline-block;
    width: 90px;
    margin-right: 10px;
    text-align: right;
}
/*
<ul>
    <li><span class="date">2/25/2019</span></li>
    <li><span class="date">12/25/2019</span></li>
</ul>
*/
