<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Tyler Cromwell">

        <!-- Template-specific meta tags -->
        {% block meta %}{% endblock meta %}
        <!-- Bootstrap CSS -->
        <!-- (Need fontawesome) -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Template-specific CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
        {% block css %}{% endblock css %}
    </head>
    <body>
        <div class="container">
            <div class="row bg-light border rounded">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <nav class="navbar">
                        <a href="{% url 'core:index' %}" class="navbar-brand">Tyler Cromwell</a>
                        <a href="https://github.com/tyler-cromwell">GitHub</a>
                        <a href="#">LinkedIn</a>
                        <a href="https://www.hackerrank.com/tjc6185">HackerRank</a>
                        <a href="https://leetcode.com/tjc6185/">LeetCode</a>
                    </nav>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <main role="main" class="container">
            {% block main %}{% endblock main %}
        </main>
        <!-- Optional - jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
