{% extends "base.html" %}
{% load static %}


{% block meta %}
    <title>{{ post.id }} | Tyler Cromwell</title>
{% endblock meta %}


{% block css %}
{% endblock css %}


{% block body %}
        <a href="{% url 'core:index' %}">Home</a>
        <a href="{% url 'core:posts' %}">Posts</a>
        {% if category == books %}
            <a href="{% url 'core:books' %}">Book Problems & Solutions</a>
        {% elif category == programming %}
            <a href="{% url 'core:programming' %}">Programming Tutorials</a>
        {% elif category == travel %}
            <a href="{% url 'core:travel' %}">Travel Stories</a>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>
{% endblock body %}
