{% extends "base.html" %}
{% load static %}


{% block meta %}
        <title>Tyler Cromwell | {{ post.title }}</title>
{% endblock meta %}


{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "details.css" %}">
{% endblock css %}


{% block main %}
            <div class="row pb-5">
                <div class="ml-auto mr-auto col-lg-10 pt-4 pl-4 pr-4 pb-2">
                    <div class="text-center pt-2 pb-2">
                        <h1 class="display-4">{{ post.title }}</h1>
                        <p class="text-secondary pb-3"><i>{{ post.published_date }}</i></p>
                    </div>
                    {% block content %}{% endblock content %}
                </div>
            </div>
{% endblock main %}
