{% extends "base.html" %}
{% load static %}


{% block meta %}
        <title>Tyler Cromwell | {{ post.title }}</title>
{% endblock meta %}


{% block css %}
{% endblock css %}


{% block main %}
        <div class="row pb-5">
            <div class="col-md-1"></div>

            <div class="col-md-10 border-top pt-4 pl-4 pr-4 pb-2">
                <h1>{{ post.title }}</h1>
                <p>{{ post.published_date }}</p>

                {% block content %}{% endblock content %}
            </div>

            <div class="col-md-1"></div>
        </div>
{% endblock main %}
