{% extends "base.html" %}
{% load static %}


{% block meta %}
        <title>Tyler Cromwell</title>
{% endblock meta %}


{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
{% endblock css %}


{% block main %}
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                <div class="row border-top pt-3 pb-3">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 p-3 text-center">
                        <img alt="Profile Picture" class="border border-primary rounded-circle" width="160" src="{% static "images/profile.png" %}"/>
                    </div>
                    <div class="col-md-4">
                        <h5><u>Tyler Cromwell</u></h5>
                        <p class="mb-0">
                            I'm a senior majoring in Computer Science at the University of Connecticut.
                            I'm heavily interested in travelling and pretty much all things related to computers.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row pb-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 border-top pt-3">
                <ul class="pl-0">
                {% for post in posts %}
                    <li class="post-link pb-1">
                        <a class="text-dark" href="{% url 'core:details' post.id %}">
                            <span class="date">{{ post.published_date }}</span>
                            {% if post.category == books %}
                                <span class="text-primary category">Books</span>
                            {% elif post.category == programming %}
                                <span class="text-danger category">Programming</span>
                            {% elif post.category == travel %}
                                <span class="text-warning category">Travel</span>
                            {% endif %}
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
{% endblock main %}
