{% extends "base.html" %}
{% load static %}


{% block meta %}
        <title>Posts | Tyler Cromwell</title>
{% endblock meta %}


{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "posts.css" %}">
{% endblock css %}


{% block body %}
        <a href="{% url 'core:index' %}">Home</a>
        <a href="{% url 'core:about' %}">About</a>

        <ul>
        {% for post in posts %}
            <li>
                <a href="">
                    <span class="date">{{ post.published_date }}</span>
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
{% endblock body %}
